{% extends base.html %}

{% block title %}Login page{% end %}

{% block content %}

    <div>
        <form action="/login?next={{next}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                username <input type="text" name="username">
            </div>
            <div class="form-group">
                password <input type="password"  name="password">
            </div>
            <button class="btn btn-secondary">Login</button>
            <div>
                没有账号请<a href="/signup">注册</a>
            </div>
        </form>
    </div>



{% end %}