{% extends 'base.html' %}

{% block title %}tagram index page{% end %}

{% block content %}<h2>Signup Page</h2>

<div class="">
    {% if msg %}
    <p>{{ msg }}</p>
    {% end %}

    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">

                <form action="/signup" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" ><i class="fa fa-user-o" aria-hidden="true"></i></span>
                      </div>
                      <input autofocus="" type="text" maxlength="150" name="username" id="id_username" required="" class="form-control" placeholder="Username" aria-label="Username">
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" ><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>
                      </div>
                      <input autofocus="" type="email" id="id_email" maxlength="150" name="email" required="" class="form-control" placeholder="Email" aria-label="Email">
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" ><i class="fa fa-key" aria-hidden="true"></i></span>
                      </div>
                      <input autofocus="" type="password" id="id_password1" maxlength="150" name="password1" required="" class="form-control" placeholder="Password">
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" ><i class="fa fa-key" aria-hidden="true"></i></span>
                      </div>
                      <input autofocus="" type="password" id="id_password2" maxlength="150" name="password2" required="" class="form-control" placeholder="Password confirmation">
                    </div>
                    <button class="btn btn-secondary">注册</button>
                    <div class="text-center help-text">
                        已有账号请<a href="/login">登录</a>
                    </div>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

</div>

{% end %}
